button {
    color: #ffffff;
    background-color: #198754;
    border-color: #ffffff;
}

button:hover {
    color: #000000;
    background-color: #ffc107;
    border-color: #000000;

}

.bgImgCover {
    background-size: 100% 100%;
    background-position: center top;
}