<!-- <div class="container-fluid bg-image" [style.background-image]="'url(' + frase.imagen.img + ')'"> -->
<!-- <div class="container-fluid bg-image" [style.background-image]="'url(1.jpg)'"> -->
<!-- <div class="container-fluid bg-image" style="background-image: url(src/assets/1.jpg)"> -->
<!-- <div class="container-fluid bg-image" [style.background-image]="'url(src/assets/1.jpg)'"> -->
<!-- <div class="container-fluid bg-image" [style.background-image]="'url({{frase.img}})'"> -->

<div class="container-fluid bgImgCover" [ngStyle]="{'background-image': 'url(./assets/'+ (currentPosition + 1) +'.jpg)'}">
    <div class="row pb-5 pt-5">
        <div class="col">
            <button (click)="prev()"
                class="border border-5 border-dark rounded-pill fs-5 fw-bold text-center p-3 w-100">Anterior</button>
        </div>
        <div class="col">
            <button (click)="next()"
                class="border border-5 border-dark rounded-pill fs-5 fw-bold text-center p-3 w-100">Següent</button>
        </div>
    </div>
    <div class="row ps-3 pe-3 pb-5">
        <div class="border border-5 border-dark fs-5 fw-bold text-center p-3 mb-3"
            *ngFor="let frase of frases; let i = index"
            [ngStyle]="{'background-color': (i === currentPosition) ? '#ffc107' : 'transparent'}">
            {{frase.frase}}</div>
    </div>
</div>